body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
}
.lasbe-logo {
    height: 13px;
    margin: 0 auto;
}
.copyright-text {
    font-family: "Noto Sans KR";
    font-size: 12px;
    color: #7c7c7c;
}
article {
    display: flex;
    flex-direction: column;
}
.main-title {
    font-size: 14px;
    color: #7c7c7c;
}

.start-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-start, .btn-start:visited {
    font-size: 30px;
    font-weight: bold;
    color:#7c7c7c;
    background-color: #1f1f1f; 
    border:#7c7c7c;
    border-width:4px; 
    border-style:solid; 
    border-radius: 15px;
    padding-bottom: 1px;
    width: 100%; max-width: 400px; margin: 0 auto;
}
.btn-start:active, .btn-start:focus , .btn-start:hover{
    font-size: 30px;
    font-weight: bold;
    outline: none !important;
    background-color: #1f1f1f !important;
    color:#e9c600 !important;
    border:#e9c600;
    border-width:4px; 
    border-style:solid; 
    border-radius: 15px;
    padding-bottom: 1px;
    width: 100%; max-width: 400px; margin: 0 auto;
}

/* 문제화면 */
.question {
    display: none;
}

.result{
    display: none;
}
.progress-bar {
    width: 100%;
    background-color: #e9c600;
    
}
.progress {
    width: 100%;
    background-color: #525764;
    margin: 0 auto;
}
#img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    max-width: 400px;
}
#img_q {
    width: 90%;
    height: auto;
    margin: 0 auto;
    max-width: 500px;
}
.loding {
    width: 0;
    height: 0;
}
.btn-answer, .btn-answer:visited, .btn-answer:hover, .btn-answer:focus {
    background-color: #1f1f1f;
    border:#1f1f1f;
    width: 100%; max-width: 500px; margin: 0 auto;
    margin: 0 auto;
    font-size: 13px;
    color: #ffffff;
    outline: none;
}
.btn-answer:active {
    background-color: #e9c600;
    border:#1f1f1f !important;
    width: 100%; max-width: 500px; margin: 0 auto;
    margin: 0 auto;
    font-size: 13px;
    color: #ffffff;
    outline: none;
}
.question-content {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border:#383a43; 
    border-width:4px; 
    border-style:solid; 
    border-radius: 5px; 
    padding: 5px; 
    border-spacing: 5px; 
    background-color: #383a43; 
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
}
.rectangle {
    width: 100%; max-width: 500px; margin: 0 auto;
    height: 8px;
    background-color: #383a43;
    margin: 0 auto;
    border-radius: 20px;
}
.rectangle_q {
    width: 15px;
    height: 15px;
    background-color: #e9c600;
    margin: 0 auto;
}
.mid-rectangle {
    width: 100%; max-width: 500px; margin: 0 auto;
    height: 1px;
    background-color: #383a43;
    margin: 0 auto;
}


/*결과화면*/
.share {
    margin: 0 auto;
}
.rectangle-r {
    width: 288px;
    height: 8px;
    background-color: #ffe02d;
    margin: 0 auto;
}
.result-message {
    color: #e9c600;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 100;
}
.result-subTitle {
    font-size: 16px;
    font-weight: 100;
    color: #ebebeb;
}
.result-mainTitle {
    font-size: 25px;
    font-weight: bold;
    color: #ebebeb;
}
.result-explain {
    font-size: 13px;
    font-weight: normal;
    color: #e9c600;
}
.kakao_ad {
    width: 100%; max-width: 500px; margin: 0 auto;
    margin: 0 auto;
}